/* -------------NavBar---------*/
#nav-bar{
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 10;
  background:rgb(51, 51, 56) !important ;
  border-radius: 10px;
}

.navbar-brand img{
  height: 40px;
  padding-left: 30px;
  border-radius: 20px;
}

.navbar-nav  li{
  padding: 0 10px;
}

.navbar-nav  li a{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover{
  color: rgb(51, 51, 56)! important;
  background: #b9b6b6 !important ;
  border-radius: 30px; 
}

.navbar{
  background: none;
  border: 1px solid #fff;
  border-radius: 10px;
}

.navbar-toggler{
  border: none! important;
}

.nav-link{
  color:#fff!important;
  font-weight: 600;
  font-size: 16px;
}


/*--------------login--------*/

#all{
  position: absolute;
  background: rgb(51,51,56);
  height:  100%;
  border: 0px solid red;
  width: 100%;
}

h3{
  text-align: center;
  color: #f2f2f2;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), none;
  font-size: 40px;
}
.logo{
  border:0px solid white;
  position: absolute;
  width: 25%;
  margin: auto;
  height: 100px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#all img{
  height: 100px;
  width: 100%;
  align-content: center;
  border-radius: 30px;
}

.login-page {
  width: 30%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid green;
}
#all .form {
  width: 100%;
  border: 0px solid blue;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), none;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form p{
  color: bisque;
  font-family: monospace;
  text-align: center;
  font-size: 20px;
}
#all .form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.inp{
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #17a589!important    ;
  width: 100%;
  padding: 15px;
  color: white;
  transition: all 0.3 ease;
  cursor: pointer;
}

.inp:hover{
  background: #116453!important ;
}
.form button{
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #17a589;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus, .inp:hover {
  background: #116453;
}